<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NLP lab | Alex Pauwels</title>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png" />
        <link rel="manifest" href="images/favicon/site.webmanifest" />
        <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#ffffff" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="theme-color" content="#ffffff" />

        <!-- Styling -->
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet" />
    </head>

    <body>

        <header>
            <h1>
                <a href="index.html">NLP lab <img id="logo" class="logo" alt="logo" title="Purple dot" /></a>
            </h1>
        </header>

        <main>
            <section>
                <h2>Sentiment analysis</h2>
                <label for="source">What kind of source do you want to check?</label>
                <select id="source" onchange="Client.sourceSelector(event)">
                    <option value="text">Custom text</option>
                    <option value="url">URL from news source</option>
                </select>
                <div class="error">
                    <p id="error-text" class="error-text">Please fill in all the fields❗</p>
                </div>
            </section>

            <section class="source-text">
                <h2>Custom text</h2>
                <form class="" onsubmit="return Client.textHandleSubmit(event)">
                    <textarea id="sentiment-text" placeholder="Enter a custom text here" rows="4"></textarea>
                    <button id="textButton">Submit</a>
                </form>
            </section>

            <section class="source-url">
                <h2>URL from news source</h2>
                <form class="" onsubmit="return Client.urlHandleSubmit(event)">
                    <label for="sentiment-url">Paste the URL here:</label>
                    <input type="text" id="sentiment-url" name="sentiment-url" placeholder="Example: https://techcrunch.com/2015/07/16/microsoft-will-never-give-up-on-mobile" />
                    <p>Note: Grab an article on <a href="https://techcrunch.com/" target="_blank" alt="TechCrunch" title="TechCrunch">TechCrunch</a> for testing or generate a random article by clicking <a href="#" onclick="return Client.randomArticle(event)">here</a>.</p>
                    <button id="urlButton">Submit</a>
                </form>
            </section>

            <section class="results">
                <h2>Sentiment analysis results:</h2>
                <div class="results-box">
                    <span>Text: </span><div id="text"></div>
                    <span>Polarity: </span><div id="polarity"></div>
                    <span>Polarity confidence: </span><div id="polarity-confidence"></div>
                    <span>Subjectivity: </span><div id="subjectivity"></div>
                    <span>Subjectivity confidence: </span><div id="subjectivity-confidence"></div>
                </div>
            </section>

        </main>

        <footer>
            <p>NLP lab <img class="logo-footer" alt="Logo" title="Purple dot" /> &copy; 2020</p>
        </footer>
        <script>
            
        </script>
        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
