$font-stack: 'PT Serif', serif;
$main-color: #6633EE;
$font-color: #333;
$grey-color: #666;
$lightgrey-color: #ececec;

h1,
h2,
h3,
p,
a,
span,
li,
blockquote,
input,
button,
figcaption,
label,
textarea,
::placeholder,
select {
	font-family: $font-stack;
	color: $font-color;
}

.purple {
	color: $main-color;
}

.lightgrey {
	background-color: $lightgrey-color;
}

a {
	color: $grey-color;
}

.center {
	text-align: center;
}

.mr15 {
	margin-right: 15px;
}

label {
	display: block;
	margin: 10px 0;
}

input,
.button {
	display: block;
	height: 30px;
}

input, select {
	border: 1px solid $lightgrey-color;
	padding-left: 5px;
	width: 250px;
	font-size: 16px;
}

.button {
	width: 100%;
	background-color: $main-color;
	color: #fff;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	font-size: 12px;
	padding-top: 10px;
	margin: 10px 0;
	text-align: center;
	text-decoration: none;
}

.button:hover {
	background-color: $grey-color;
}

.greyBtn {
	background-color: $lightgrey-color;
	border: 1px solid $grey-color;
	margin-bottom: 10px;
	color: $font-color;
}

.greyBtn:hover {
	background-color: $lightgrey-color;
	border: 1px solid $main-color;
}

.logo {
	width: 18px;
}

.logo-footer {
	width: 11px;
}

h1 a,
h3 a {
	text-decoration: none;
	color: $font-color;
}

footer {
	text-align: center;
}

::placeholder {
	font-size: 16px;
	color: $grey-color;
}